html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #eceff4;
}

.hero-image {
      width: 100%;
      height: 100vh;
      position: absolute;
      background: url(../img/hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.parallax-el {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: url(../img/upper.png) no-repeat 50% 50%;
      background-size: cover;
      top: 0%;
}

.text {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 2%; /*32*/
      background: url(../img/text.png) no-repeat 50% 10%;
      background-size: cover;
      /*mix-blend-mode: overlay;*/
}

.clouds {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: url(../img/clouds.png) no-repeat 50% 50%;;
      background-size: cover;
      /*background-repeat: no-repeat;*/
      top: 10%;
      /*left: 50%;*/
}

.whitespace {
      width: 100%;
      height: 100vh;
}

.content {
      width: 80%;
      margin: 0 auto;
      padding: 80px 0;
      font-family: Helvetica;
      display: flex;
      flex-direction: column;
}

h1 {
      font-size: 42px;
      font-family: Anton;
      text-transform: uppercase;
      text-align: center;
}

h2 {
      font-size: 34px;
      font-family: Anton;
      text-transform: uppercase;
      text-align: center;
}

p {
      line-height: 24px;
      text-align: justify;
      font-size: 16px;
}

/**/

.middle {
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
}

.mouse {
      width: 25px;
      height: 45px;
      border: 2px solid #fff;
      border-radius: 30px;
}

.mouse::before {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      border-radius: 50%;
      opacity: 1;
      animation: mouse 2s infinite;
}

@keyframes mouse {
      from {
            opacity: 1;
            top: 8px;
      }

      to {
            opacity: 0;
            top: 38px;
      }

}

#companyLogo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 266px;
      height: 43px;
      padding-bottom: 20px;
}