html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      /*background: url(../img/solobg.jpg) no-repeat;*/
      background-color: black;
}

footer {
      background: #eceff4;
}

.hero-image {
      width: 100%;
      height: 100vh;
      position: absolute;
      background: url(../img/hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.parallax-el {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: url(../img/upper.png) no-repeat 50% 50%;
      background-size: cover;
      top: 0%;
}

.text {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 2%; /*32*/
      background: url(../img/text.png) no-repeat 50% 10%;
      background-size: cover;
      /*mix-blend-mode: overlay;*/
}

.clouds {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: url(../img/clouds.png) no-repeat 50% 50%;
      background-size: cover;
      /*background-repeat: no-repeat;*/
      top: 10%;
      /*left: 50%;*/
}


.whitespace {
      width: 100%;
      height: 100vh;
}

.content {
      width: 80%;
      margin: 0 auto;
      padding: 80px 0;
      font-family: Helvetica;
      display: flex;
      flex-direction: column;
}

h1 {
      font-size: 42px;
      font-family: Anton;
      text-transform: uppercase;
      text-align: center;
}

h2 {
      font-size: 34px;
      font-family: Anton;
      text-transform: uppercase;
      text-align: center;
}

p, a {
      line-height: 24px;
      text-align: justify;
      font-size: 16px;
      color: #d4d7db;
}

a {
      color: #d4d7db;
}

a:hover {
      color: #830000;
}

/**/

.middle {
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
}

.mouse {
      width: 25px;
      height: 45px;
      border: 2px solid #fff;
      border-radius: 30px;
}

.mouse::before {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      border-radius: 50%;
      opacity: 1;
      animation: mouse 2s infinite;
}

@keyframes mouse {
      from {
            opacity: 1;
            top: 8px;
      }

      to {
            opacity: 0;
            top: 38px;
      }

}

#companyLogo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 266px;
      height: 43px;
      padding-bottom: 20px;
}

/**/

.eng {
      padding-right: 20px;
      top: 15px;
      right: 0;
      position: absolute;
      background: url(../img/eng.svg) no-repeat 50% 50%;
      width: 25px;
      height: 25px;
      z-index: 2;
      cursor: pointer;
}

.spa {
      padding-right: 90px;
      top: 15px;
      right: 0;
      position: absolute;
      background: url(../img/spa.svg) no-repeat 50% 50%;
      width: 25px;
      height: 25px;
      z-index: 1;
      cursor: pointer;
}

/***/

form {
      display: flex;
      flex-direction: column;
}

input, textarea {
      background: transparent;
      font-family: Helvetica;
      font-size: 16px;
      margin: 16px;
      padding-left: 12px;
      border: none;
      display: block;
      border-bottom: 1px solid;
}

textarea {
      resize: none;
}

button {
      align-self: center;
      width: 260px;
      height: 45px;
      border-radius: 8px;
      font-family: Helvetica;
      font-size: 16px;
      background: transparent;
      display: inline-block;
      font-weight: 700;
      border: 1px solid
      padding: 10px 50px;
      transition: 1s;
      &:hover {
            padding: 10px 120px;
            cursor: pointer;
      }
}

button:hover {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #d4d7db;

}

#intro-p {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #d4d7db;
}

#writeus-p, #reachem, #reachinst{
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #d4d7db;
}

h3 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #d4d7db;

}